<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <title>MVC With Cats!</title>
    </head>

<body>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type = "text/javascript" src="/assets/js/burger_jq.js"></script>
</body>

</html>